.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: #fff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    max-width: auto;
    animation: fade-in 1s ease-in-out;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .form:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .form-control label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .form-control input,
  .form-control select {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .form-control input:focus,
  .form-control select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.4);
    outline: none;
  }
  
  .form button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #4a90e2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .form button:hover {
    background-color: #357ab7;
    transform: scale(1.05);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0.8rem;
  }
  
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      scale: 0.5;
    }
    to {
      opacity: 1;
      transform: translateY(0);
      scale: 1;
    }
  }
  
  @media (max-width: 768px) {
    .form {
      padding: 1.5rem;
    }
  
    .form button {
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .form {
      padding: 1rem;
    }
  
    .form button {
      font-size: 0.85rem;
      padding: 0.6rem 1rem;
    }
  }
  #description{
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    resize: none;
  }
  