.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Povećanje z-index kako bi bio iznad drugih elemenata */
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background-color: #2c2c2c;
  color: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  animation: slideUp 0.3s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-content h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #e6e6e6;
  font-weight: bold;
}

.modal-content p {
  font-size: 1rem;
  color: #b3b3b3;
}

.error-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: scale(1.2);
}

.close-button:focus {
  outline: none;
}
